*.class

# Package Files #
*.jar
*.war
*.ear

# Carpetas
EjercicioAcademia
Docs

# Comprimidos
*.zip
/11_Java/11_demo/target/
/11_Java/11_01/target/
/11_Java/11_02/target/
/11_Java/11_03/target/
/12_Java/12_01/target/
/12_Java/12_demo/target/
/13_Java/13_demo/target/
/13_Java/13_03/target/
/13_Java/13_04/target/
/13_Java/13_05/target/
/14_Java/14_01/target/
/14_Java/14_02/target/